### 1. Retrieve the Kaggle Chicago Bike Dataset we used in Week 2's lab
https://www.kaggle.com/michaelshoemaker/divvy-bike-chicago-2018

In [12]:
import pandas as pd
df_Q1 = pd.read_csv("data/Divvy_Trips_2018_Q1.csv")
df_Q2 = pd.read_csv("data/Divvy_Trips_2018_Q2.csv")
df_Q3 = pd.read_csv("data/Divvy_Trips_2018_Q3.csv")
df_Q4 = pd.read_csv("data/Divvy_Trips_2018_Q4.csv")

### 2. Combine the data into one dataframe if you haven't already

In [13]:
df = pd.concat([df_Q1, df_Q2, df_Q3, df_Q4])
df

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,17536702,2018-01-01 00:12:00,2018-01-01 00:17:23,3304,323.0,69,Damen Ave & Pierce Ave,159,Claremont Ave & Hirsch St,Subscriber,Male,1988.0
1,17536703,2018-01-01 00:41:35,2018-01-01 00:47:52,5367,377.0,253,Winthrop Ave & Lawrence Ave,325,Clark St & Winnemac Ave (Temp),Subscriber,Male,1984.0
2,17536704,2018-01-01 00:44:46,2018-01-01 01:33:10,4599,"2,904.0",98,LaSalle St & Washington St,509,Troy St & North Ave,Subscriber,Male,1989.0
3,17536705,2018-01-01 00:53:10,2018-01-01 01:05:37,2302,747.0,125,Rush St & Hubbard St,364,Larrabee St & Oak St,Subscriber,Male,1983.0
4,17536706,2018-01-01 00:53:37,2018-01-01 00:56:40,3696,183.0,129,Blue Island Ave & 18th St,205,Paulina St & 18th St,Subscriber,Male,1989.0
...,...,...,...,...,...,...,...,...,...,...,...,...
642681,21742438,2018-12-31 23:45:17,2018-12-31 23:50:05,2931,288.0,49,Dearborn St & Monroe St,164,Franklin St & Lake St,Subscriber,Female,1983.0
642682,21742439,2018-12-31 23:48:48,2018-12-31 23:57:22,4386,514.0,624,Dearborn St & Van Buren St (*),44,State St & Randolph St,Subscriber,Female,1990.0
642683,21742440,2018-12-31 23:50:09,2018-12-31 23:57:16,4927,427.0,41,Federal St & Polk St,52,Michigan Ave & Lake St,Subscriber,Female,1995.0
642684,21742441,2018-12-31 23:55:04,2018-12-31 23:58:24,1350,200.0,141,Clark St & Lincoln Ave,118,Sedgwick St & North Ave,Subscriber,Male,1999.0
642685,21742442,2018-12-31 23:59:18,2019-01-01 00:20:43,2006,"1,285.0",260,Kedzie Ave & Milwaukee Ave,166,Ashland Ave & Wrightwood Ave,Subscriber,Male,1990.0

### 3. Calculate the mean trip duration by gender.  You may first have to convert the tripduration column.

hint: https://pandas.pydata.org/docs/reference/api/pandas.to_numeric.html  
errors='coerce'

In [14]:
df['tripduration'] = pd.to_numeric(df['tripduration'].str.replace(',', ''), errors='coerce')

In [15]:
df.groupby('gender').agg({'tripduration': 'mean'})

        tripduration
gender
Female   1136.378052
Male      889.350281

### 4. What station_name did the most trips start from?

### 5. What was the most common trip start/end pair (in either direction)?

In [22]:
df['station_pair'] = df['from_station_name'] + ' -> ' + df['to_station_name']

In [24]:
df.groupby('station_pair').agg({'tripduration': 'max'})

                                                    tripduration
station_pair
2112 W Peterson Ave -> 2112 W Peterson Ave                8830.0
2112 W Peterson Ave -> Ashland Ave & Belle Plai...        2256.0
2112 W Peterson Ave -> Avondale Ave & Irving Pa...        1437.0
2112 W Peterson Ave -> Benson Ave & Church St             2974.0
2112 W Peterson Ave -> Broadway & Argyle St               1838.0
...                                                          ...
Yates Blvd & 75th St -> South Shore Dr & 74th St           566.0
Yates Blvd & 75th St -> Stony Island Ave & 71st St         768.0
Yates Blvd & 75th St -> Stony Island Ave & 75th St        1051.0
Yates Blvd & 75th St -> Woodlawn Ave & 55th St            2466.0
Yates Blvd & 75th St -> Yates Blvd & 75th St              5730.0

[113679 rows x 1 columns]

### 6. List the 10 longest trips.  What are the durations?  Do you believe these durations?  What does this tell you about the mean values you calcuated in #3?

In [33]:
df.sort_values('tripduration', ascending=False).head(10)

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear,station_pair
118688,17681646,2018-02-03 15:02:50,2018-07-19 14:23:31,471,14336400.0,195,Columbus Dr & Randolph St,433,Kedzie Ave & Harrison St,Customer,NaN,NaN,Columbus Dr & Randolph St -> Kedzie Ave & Harr...
30811,17576039,2018-01-12 02:20:15,2018-06-26 13:55:00,496,14294100.0,182,Wells St & Elm St,360,DIVVY Map Frame B/C Station,Customer,NaN,NaN,Wells St & Elm St -> DIVVY Map Frame B/C Station
79287,17634739,2018-01-25 19:56:04,2018-07-01 18:56:21,5956,13557600.0,585,Cottage Grove Ave & 83rd St,392,Perry Ave & 69th St,Subscriber,Male,1997.0,Cottage Grove Ave & 83rd St -> Perry Ave & 69t...
77866,18095986,2018-04-15 20:47:22,2018-09-18 13:47:42,5779,13453200.0,119,Ashland Ave & Lake St (Temp),360,DIVVY Map Frame B/C Station,Customer,NaN,NaN,Ashland Ave & Lake St (Temp) -> DIVVY Map Fram...
381288,17993581,2018-03-30 16:57:12,2018-08-26 21:19:34,426,12889300.0,35,Streeter Dr & Grand Ave,360,DIVVY Map Frame B/C Station,Customer,NaN,NaN,Streeter Dr & Grand Ave -> DIVVY Map Frame B/C...
57152,17608326,2018-01-21 03:51:11,2018-06-17 23:27:08,5932,12767800.0,47,State St & Kinzie St,391,Halsted St & 69th St,Customer,NaN,NaN,State St & Kinzie St -> Halsted St & 69th St
116239,19378785,2018-07-07 21:24:40,2018-11-19 12:22:05,3333,11635000.0,530,Laramie Ave & Kinzie St,92,Carpenter St & Huron St,Customer,NaN,NaN,Laramie Ave & Kinzie St -> Carpenter St & Huro...
27061,18034095,2018-04-06 12:42:35,2018-08-18 09:31:43,4001,11566100.0,247,Shore Dr & 55th St,368,Ashland Ave & Archer Ave,Customer,NaN,NaN,Shore Dr & 55th St -> Ashland Ave & Archer Ave
702994,20052755,2018-08-09 20:30:22,2018-12-20 13:21:33,771,11469100.0,417,Cornell Ave & Hyde Park Blvd,417,Cornell Ave & Hyde Park Blvd,Subscriber,Female,1952.0,Cornell Ave & Hyde Park Blvd -> Cornell Ave & ...
1243771,20673996,2018-09-13 08:41:37,2019-01-06 14:40:28,1792,9961130.0,192,Canal St & Adams St,452,Western Ave & Granville Ave,Subscriber,Male,1969.0,Canal St & Adams St -> Western Ave & Granville...